BXGameEngine.qtvscr
BXGameEngine.vcxproj
BXGameEngine.vcxproj.filters
BXGameEngine.vcxproj.user
Debug/
Release/
x64/

Resources/Assets/Fonts/Other
Resources/Assets/Shaders
Resources/Assets/Sounds
Resources/Assets/Textures/Misc
Resources/Assets/Textures/NPCs/Game
Resources/Assets/Textures/Tiles/Game



Resources/Configfiles/Assets/animationsConfigOLD.txt
Resources/Configfiles/NotInUseYet
Resources/Configfiles/Uniform

Resources/Databases
Resources/Logs
Resources/Proposals
Resources/Savefiles
Resources/Texts